@import "src/constants/styles/common";

.sidebar-menu {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  animation-duration: 200ms;
  animation-name: closing-menu;

  &__btn-block {
    display: flex;
    align-items: flex-start;
    height: 100%;
    min-width: 4rem;
    background-color: #151B1F;
    justify-content: center;
    padding-top: 2rem;
  }
  &__button {
    background: transparent;
    border: none;
    padding: 0;
  }
  &__button:hover {
    cursor: pointer;
  }
  &__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    flex-grow: 1;
    background-color: $main-black-color;
    font-size: 2rem;
    color: $main-white-color;
    padding-left: 4rem;

    &__list {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    &__list li:hover {
      cursor: pointer;
      color: $main-green-color;
    }
  }
  &__social-network img {
    margin-top: 1rem;
    margin-right: 1.5rem;
    width: 2rem;
    background-color: $main-white-color;
    border-radius: 100%;
  }
  &__social-network img:hover {
    cursor: pointer;
    background-color: $main-green-color;
  }
  &__lang-btn {
    display: none;
  }
  &__empty {
    width: 688px;
    height: 100%;
    background-color: rgba(21,27,31, .8);
  }
  &_open {
    animation-duration: 200ms;
    animation-name: sliding-menu;
    left: 0;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px){
  .sidebar-menu {
    &__navigation {
      min-width: 500px;
    }
    &__empty {
      width: 614px;
    }
  }
}
@media screen and (max-width: 1023px){
  .sidebar-menu {
    &__empty {
      display: none;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .sidebar-menu {
    display: block;

    &_open {
      display: block;
    }
    &__btn-block {
      display: block;
      height: 10%;
      padding-left: 2rem;
      padding-top: 1rem;
    }
    &__navigation {
      padding-left: 2rem;
      height: 80%;
      align-items: flex-start;
    }
    &__lang-btn {
      display: block;
      height: 10%;
      background-color: $main-black-color;
      padding-left: 1rem;
      color: $main-white-color
    }
  }
}

@media screen and (min-height: 811px) {
  .sidebar-menu {
    &__empty {
      width: calc(100vh * 0.8484);
    }
  }
}

@keyframes sliding-menu {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes closing-menu {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}
