@import "src/constants/styles/common";

.order-status {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  overflow: auto;

  &__number {
    margin: 0 auto;
    padding: .5rem 2rem;
    border-top: 1px solid $main-lightgrey-color;
    border-bottom: 1px solid $main-lightgrey-color;
    width: 100%;

    font-weight: bold;
    font-size: .875rem;
    color: $main-black-color;
  }
  &__info {
    display: flex;
    overflow: auto;

    &__title {
      padding: 0 2rem;
      margin: 1rem 0 -1.5rem 0;
    }
  }
}

@media screen and (max-width: 1023px){
  .order-status__info {
    width: 100%;
    border-right: none;
    flex-direction: column;
  }
}
