.order-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;

  &__header {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
  }
}