@import "src/constants/styles/common";

.order-info {
  width: 30%;
  padding: 2rem;

  &__title {
    text-align: end;
    font-size: 1.125rem;

    h3 {
      margin: 0;
    }
  }
  &__details {
    display: flex;
    align-items: flex-end;
    margin: 1.5rem 0;
    font-size: .875rem;

    &__dots {
      margin: 0.4rem 0.4rem 0.3rem;
      color: gray;
      flex-grow: 1;
      border-bottom: 2px dotted $main-grey-color;
    }
    &__address {
      display: flex;
      flex-direction: column;
      text-align: end;
      color: $main-grey-color;

      &_disable {
        display: none;
      }
    }
  }
  &__price {
    margin-bottom: 1.5rem;
  }
}
