@import "src/constants/styles/common";

.car-models {
  padding: 2rem;
  height: max-content;
  width: 70%;
  border-right: 1px solid $main-lightgrey-color;

  &__car-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    overflow: auto;
  }
}

@media screen and (max-width: 1023px){
  .car-models {
    width: 100%;
    border-right: none;
  }
}
