@import "src/constants/styles/common";

.form_radio {
  &__fieldset {
    display: flex;
    border: none;
    padding: 0;
    margin: 0;

    &__r-button {
      margin-right: .5rem;
    }
    &__name {
      font-size: .875rem;
      color: $main-grey-color;

      &_active {
        color: $main-black-color;
      }
    }
    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      border-radius: 50%;
      width: 1rem;
      height: 1rem;

      border: 2px solid $main-grey-color;
      outline: none;
      margin-right: .375rem;

      position: relative;
      top: .25rem;
    }

    input:checked {
      border: 4px solid $main-green-color;
    }

  }
}

@media screen and (max-width: 360px){
  .form_radio {
    &__fieldset {
      flex-direction: column;
    }
  }
}

