@import "src/constants/styles/common";

.order-location {
  padding: 2rem;
  width: 70%;
  border-right: 1px solid $main-lightgrey-color;

  &__input-block {
    display: flex;
    position: relative;
    padding: .375rem 0;

    &__title {
      display: inline-block;
      padding-right: .5rem;
      min-width: 7.125rem;
      text-align: end;
      font-size: .875rem;
    }
    &__input {
      width: 12.75rem;
      border: none;
      border-bottom: .09375rem solid $main-grey-color;
      padding-left: .5rem;
      font-size: .875rem
    }
    &__input:focus {
      outline: none;
    }
  }
  .city-button {
    border: none;
    background-color: transparent;
    border-bottom: 1.5px solid gray;

    &__icon {
      cursor: pointer;
      visibility: hidden;

      &_active {
        visibility: visible;
      }
    }
  }
  &__cities-list {
    display: none;
    border: 1px solid $main-lightgrey-color;
    max-height: 6.625rem;
    overflow: auto;
    padding: .5rem;
    width: 100%;
    max-width: 14rem;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    &_active {
      display: block;
      position: absolute;
      z-index: 1;
      background-color: $main-white-color;
      left: 7.2rem;
      top: -0.35rem;
    }
  }
  .list-item {
    color: $main-grey-color;
  }
  .list-item:hover {
    color: $main-green-color;
    cursor: pointer;
  }
  &__drop-down-menu {
    position: relative;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px){

}
@media screen and (max-width: 1023px){
  .order-location {
    width: 100%;
    border-right: none;
  }
}

@media screen and (min-width: 420px) and (max-width: 767px){
  .order-location {
    &__cities-list {
      &_active {
        left: 7.2rem;
        top: -0.35rem;
      }
    }
  }
}

@media screen and (max-width: 419px){
  .order-location {
    padding: 1rem 2rem;

    &__input-block {
      display: block;

      &__title {
        text-align: start;
        padding-left: .5rem;
      }
    }
    &__cities-list {
      &_active {
        left: 0;
        top: -0.35rem;
      }
    }
  }
}
