@import "src/constants/styles/common";

.location-tab {
  padding: 2rem;
  width: 70%;
  border-right: 1px solid $main-lightgrey-color;

  &__point {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: max-content;
  }
  &__cities-list {
    display: none;
    border: 1px solid $main-lightgrey-color;
    max-height: 6.625rem;
    overflow: auto;
    padding: .5rem;
    width: 100%;
    max-width: 14rem;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    &_active {
      display: block;
      position: absolute;
      z-index: 1;
      background-color: $main-white-color;
      top: .2rem;
      box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05);
      animation-duration: 300ms;
      animation-name: dropDownMenu;
    }
  }
  .list-item {
    color: $main-grey-color;
  }
  .list-item:hover {
    color: $main-green-color;
    cursor: pointer;
  }
  &__drop-down-menu {
    position: relative;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px){

}
@media screen and (max-width: 1023px){
  .location-tab {
    width: 100%;
    border-right: none;
  }
}

@media screen and (min-width: 420px) and (max-width: 767px){
}

@media screen and (max-width: 419px){
  .location-tab {
    padding: 1rem 2rem;

    &__input-block {
      display: block;

      &__title {
        text-align: start;
        padding-left: .5rem;
      }
    }
  }
}

@keyframes dropDownMenu {
  from {
    max-height: 0;
    overflow: hidden;
  }
  to {
    max-height: 6.625rem;
    overflow: auto;
  }
}
