@import "src/constants/styles/common";

.location-tab {
  padding: 2rem;
  width: 70%;
  border-right: 1px solid $main-lightgrey-color;

  &__point {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: max-content;
  }
  &__cities-list {
    display: none;
    border: 1px solid $main-lightgrey-color;
    max-height: 6.625rem;
    overflow: auto;
    padding: .5rem;
    width: 100%;
    max-width: 14rem;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    &_active {
      display: block;
      position: absolute;
      z-index: 1;
      background-color: $main-white-color;
    }
  }
  .list-item {
    color: $main-grey-color;
  }
  .list-item:hover {
    color: $main-green-color;
    cursor: pointer;
  }
  &__drop-down-menu {
    position: relative;
  }
}

@media screen and (max-width: 1023px){
  .location-tab {
    width: 100%;
    border-right: none;
  }
}

@media screen and (max-width: 419px){
  .location-tab {
    padding: 1rem 2rem;

    &__input-block {
      display: block;

      &__title {
        text-align: start;
        padding-left: .5rem;
      }
    }
  }
}
