@import "src/constants/styles/common";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title__link {
    color: $main-green-color;
    font-size: 1.875rem;
    margin: 0;
    line-height: 1;
  }
  &__title__link:hover {
    color: $main-green-color;
  }
  &__menu-btn {
    display: none;
    background: transparent;
    border: none;
    padding: 0;
  }
  &__sidebar-btn:hover {
    cursor: pointer;
  }
  &__location {
    display: flex;
    align-items: center;

    img {
      width: .9375rem;
      height: 1.125rem;
      padding-right: .375rem;
    }
    span {
      color: $main-grey-color;
      font-size: .875rem;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px){
  .header {
    display: block;
    padding: 1rem 1rem 0 1rem;

    &__title {
      display: flex;
      justify-content: space-between;
    }
    &__location {
      justify-content: flex-end;
    }
    &__menu-btn {
      display: block;
    }
  }
}
