@import "src/constants/styles/common";

.input-field {
  display: flex;
  position: relative;
  padding: .375rem 0;
  width: fit-content;

  &__title {
    display: flex;
    align-items: flex-end;
    padding-right: .5rem;
    text-align: end;
    font-size: .875rem;
  }
  &__input {
    width: 12.75rem;
    border: none;
    border-bottom: .09375rem solid $main-grey-color;
    padding-left: .5rem;
    font-size: .875rem
  }
  &__input:focus {
    outline: none;
  }
  &__close-btn {
    border: none;
    background-color: transparent;
    border-bottom: 1.5px solid gray;
    line-height: 1.5rem;

    &__icon {
      cursor: pointer;
      visibility: hidden;

      &_active {
        visibility: visible;
      }
    }
  }
}

@media screen and (max-width: 419px){
  .input-field {
    display: block;

    &__title {
      text-align: start;
      padding-left: .5rem;
    }
  }
}
