@import "src/constants/styles/common";

.order-step {
  border-top: 1px solid $main-lightgrey-color;
  border-bottom: 1px solid $main-lightgrey-color;

  &__nav {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;

    &__list {
      display: flex;
      list-style-type: none;
      margin: 0;
      color: $main-grey-color;
      font-weight: bold;
      font-size: .875rem;
      padding: .5rem 0;

      li > a {
        cursor: pointer;
        color: inherit;
      }
      img {
        margin: 0 1rem;
      }
      &_completed {
        color: $main-black-color;
      }
      &_active {
        color: $main-green-color;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .order-step {
    &__nav__list {
      overflow: auto;

      li {
        display: flex;
        align-items: center;
      }
    }
  }
}
