.main-page {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  overflow: auto;
}

@media screen and (min-height: 811px) {
  .main-page__slider {
    width: calc(100vh * 0.8484);
  }
}
