@import "src/constants/styles/common";

.result-tab {
  display: flex;
  padding: 2rem;
  width: 70%;
  border-right: 1px solid $main-lightgrey-color;

  &__car-info, &__car-img {
    width: 50%;
  }
  &__car-info {
    &__number {
      border: 1px solid $main-grey-color;
      width: fit-content;
      padding: 0 0.5rem;
      border-radius: 4px;
    }
    div {
      margin-bottom: .5rem;

      :first-child {
        font-weight: bold;
      }
    }
  }
  &__car-img {
    margin-top: 2.7rem;
  }
}

@media screen and (max-width: 1023px){
  .result-tab {
    width: 100%;
    border-right: none;
  }
}

@media screen and (max-width: 768px){
  .result-tab {
    display: block;

    &__car-info, &__car-img {
      width: 100%;
    }
  }
}
