@import "src/constants/styles/common";

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #151B1F;
  height: 100%;
  min-width: 4rem;
  padding: 2rem 0 1.2rem 0;
  box-sizing: border-box;

  &__button {
    background: transparent;
    border: none;
    padding: 0;

    img {
      width: 2rem;
    }
  }
  &__button:hover {
    cursor: pointer;
  }
  &__lang {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main-green-color;

    &__btn {
      display: none;
      background-color: transparent;
      border: none;
    }
    &_active {
      display: flex !important;
    }
    &_active:hover {
      cursor: default;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      width: 3rem;
      height: 3rem;
      border: 1px solid $main-white-color;
    }
    &_active:active {
      color: $main-white-color;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px){
    display: none;
  }
}
