@import "src/constants/styles/common";

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #151B1F;
  height: 100%;
  min-width: 4rem;
  padding: 2rem 0;
  box-sizing: border-box;

  img {
    width: 2rem;
  }
  footer {
    color: $main-green-color;
  }
}
