$main-green-color: #0EC261;
$main-black-color: #151B1F;
$main-grey-color: #999999;
$main-lightgrey-color: #EEEEEE;
$main-white-color: #FFFFFF;

$button-green-color: linear-gradient(to right, #0EC261, #039F67);
