@import "src/constants/styles/common";

.slider {
  height: 100%;
  width: 688px;

  &__layer {
    display: flex;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0, 0), rgba(0,0,0, 1));

    &__left-arrow, &__right-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      min-width: 4rem;

      img {
        width: .5rem;
      }
    }
    &__left-arrow:hover, &__right-arrow:hover {
      cursor: pointer;
      background-color: rgba(14,194,97, .2);
    }
  }
  .slider-content {
    display: flex;
    flex-direction: column;
    padding: 3.875rem 2rem 2rem 2rem;
    width: 100%;

    &__info {
      flex-grow: 1;

      &__title {
        font-size: 2.5rem;
        color: $main-white-color;
      }
      &__description {
        font-size: 1.5rem;
        color: $main-lightgrey-color;
        line-height: 1;
      }
      &__button {
        width: 164px;
      }
      .active-1:before {
        background: linear-gradient(to right, #13493F, #0C7B1B);
      }
      .active-2:before {
        background: linear-gradient(to right, #132949, #0C7B67);
      }
      .active-3:before {
        background: linear-gradient(to right, #493013, #7B0C3B);
      }
      .active-4:before {
        background: linear-gradient(to right, #281349, #720C7B);
      }
      &__text-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 75%;
      }
      &__empty {
        height: 25%;
      }
    }
    &__dots {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 0.8125rem;

      div {
        width: .5rem;
        height: .5rem;
        border-radius: 100%;
        background-color: $main-lightgrey-color;
        margin: .375rem;
        cursor: pointer;
      }
      &_active {
        background-color: $main-green-color !important;
      }
    }
  }
  &_bg-img-1 {
    background: url("../../assets/images/1-slide.jpg") no-repeat;
    background-size: cover;
  }
  &_bg-img-2 {
    background: url("../../assets/images/2-slide.jpg") no-repeat;
    background-size: cover;
  }
  &_bg-img-3 {
    background: url("../../assets/images/3-slide.jpg") no-repeat;
    background-size: cover;
  }
  &_bg-img-4 {
    background: url("../../assets/images/4-slide.jpg") no-repeat;
    background-size: cover;
  }

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .slider {
    width: 614px;

    &__layer {
      &__left-arrow, &__right-arrow {
        min-width: 2rem;
      }
    }
    .slider-content {
      &__info {
        &__title {
          font-size: 1.8rem;
        }
        &__description {
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px){
  .slider {
    display: none;
  }
}

@media screen and (min-height: 811px) {
  .slider {
    width: calc(100vh * 0.8484);
  }
}

@media screen and (max-width: 1023px){
  .slider {
    display: none;
  }
}

@media screen and (min-height: 811px) {
  .slider {
    width: calc(100vh * 0.8484);
  }
}
